.nav-pills {
  .nav-link {
    border-radius: 0.1875rem;

    &.active {
      color: #fff;
      background-color: #2196f3;
    }
  }

  .show > .nav-link {
    color: #fff;
    background-color: #2196f3;
  }
}

.card-header-pills {
  margin-right: -.625rem;
  margin-left: -0.625rem;
}
